/* Escribe tu CSS aquí */
body{
	background:url("../img/fondo_mujer_wide.png"); 
}
.titulo{
	color:white;
	font-family: serif;
	font-size: 32px;
}
.titulo2{
	color:white;
	font-family: serif;
	font-size: 40px;
}
.parrafo{
	color:white;
}
#nombre{
	color:white;
}
.form-input{
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid white;
	background-color: transparent;
}
#input{
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
	background-color: transparent;
}